# Startup script
# Follow logs in realtime
# sudo journalctl -f --unit=immersive_mode 
[Unit]
Description=Service to run the RecallHQ Immersive Mode startup script

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/llm_bootcamp/recallhq
ExecStart=/bin/bash -c 'cd /home/ubuntu/llm_bootcamp/recallhq && source .venv/bin/activate && chainlit run /home/ubuntu/llm_bootcamp/recallhq/immersive_chainlit.py -w --host recall.autorun.cloud --port 8080 -h'
# optional items below
#Restart=always
#RestartSec=3

[Install]
WantedBy=multi-user.target
